html,
body {
  background-color: #f3cfd7 !important;
}
.bg-rose {
  background-color: #f3cfd7;
}
.text-rose {
  color: #e7b2c0 !important;
}
.josefin-font {
  font-family: 'Josefin Sans', sans-serif;
}
.raleway-font {
  font-family: 'Raleway', sans-serif;
}
.font-12px {
  font-size: 12px;
}
.f9f9f9:hover {
  background-color: #f9f9f9;
}
.white-light {
  background-color: rgba(255, 255, 255, 0.15);
}
.bg-hover-x:hover {
  background-color: rgba(255, 255, 255, 0.25);
}
.is-24x24 {
  width: 16px !important;
  height: 16px !important;
}
.count {
  position: absolute;
  top: 0px;
  right: -6px;
  display: inline-block;
  width: 14px;
  height: 14px;
  font-size: 8px;
  font-weight: 500;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #fff;
  background-color: #e7b2c0;
  border-radius: 100%;
}
.border-rose {
  border-color: #e7b2c0;
}
.m-0-auto {
  margin: 0 auto !important;
}
.bg-gray-100s > * {
  --tw-bg-opacity: 1;
  background-color: rgba(254, 242, 242, var(--tw-bg-opacity));
}
.bg-gray-100s:hover > * {
  --tw-bg-opacity: 1;
  background-color: rgba(243, 244, 246, var(--tw-bg-opacity));
}
.w-fit {
  width: intrinsic !important; /* Safari/WebKit utilisent un nom non-standard */
  width: -moz-max-content !important; /* Firefox/Gecko */
  width: -webkit-max-content !important;
}
.h-fit {
  height: intrinsic !important; /* Safari/WebKit utilisent un nom non-standard */
  height: -moz-max-content !important; /* Firefox/Gecko */
  height: -webkit-max-content !important;
}
.w-fulls {
  width: 100% !important;
}
.h-fulls {
  height: 100% !important;
}
.min-w-320w {
  min-width: 320px !important;
}
@media screen and (max-width: 1023px) {
  .lg-white {
    background-color: #fff !important;
  }
}
@media screen and (max-width: 640px) {
  .w-full-menu {
    min-width: 376px !important;
  }
}
@media screen and (max-width: 420px) {
  .w-full-menu {
    min-width: auto !important;
    width: 95% !important;
  }
  .w-opaque {
    width: 100% !important;
  }
}
.appearY {
  animation: 0.4s appearY;
}
@keyframes appearY {
  0% {
    transform: translateY(-40px);
    transition: transform ease-out 0.8s;
  }
}
.opacity {
  animation: 0.2s opacity;
}
.opacity-t {
  animation: 0.8s opacityt;
  transition: transform ease-out 0.8s;
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
}
@keyframes opacityt {
  0% {
    opacity: 0.6;
  }
}
.centered-element {
  left: 50%;
  margin-left: -50px;
}
.appearxl {
  animation: 0.5s appearxl;
}
.appearxr {
  animation: 0.5s appearxr;
}

@keyframes appearxl {
  0% {
    transform: translateX(-10px);
    transition: transform ease-out 0.3s;
  }
}
@keyframes appearxr {
  0% {
    transform: translateX(10px);
    transition: transform ease-out 0.3s;
  }
}
.drawer {
  display: block;
  transition: transform ease-out 0.3s;
}
.drawer.is-open {
  transform: translateX(0);
  transition: transform ease-out 0.3s;
}
.drawer.is-hid {
  transform: translateX(-100%);
  transition: transform ease-out 0.3s;
}
.drawer.is-open-y {
  transform: translateY(0);
  transition: transform ease-out 0.2s;
}
.drawer.is-hid-y {
  transform: translateY(-100%);
  transition: transform ease-out 0.2s;
}
.text-lefts {
  text-align: left !important;
  justify-content: flex-start !important;
}
.button.is-active,
.button:focus {
  box-shadow: none !important;
}
.flexs {
  display: flex !important;
}
.bg-grays-100 {
  --tw-bg-opacity: 1;
  background-color: rgba(243, 244, 246, var(--tw-bg-opacity)) !important;
}
